@{
    @inject IConfiguration Configuration
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1><p>@Configuration["API_URL"]</p></h1>
    <h1><p>@Configuration["DB_CONN"]</p></h1>
    <h1 class="display-4">Welcome, hello world......!!!</h1>
    <h1 class="display-4">Welcome, hello world......!!!</h1>
    <h1 class="display-4">Welcome, hello world......!!!</h1>
    <h1 class="display-4">Welcome, hello world......!!!</h1>
    <h1 class="display-4">Welcome, hello world......!!!</h1>
    <h1 class="display-4">Welcome, hello world......!!!</h1>
    <h1 class="display-4">Welcome, hello world......!!!</h1>
    <h1 class="display-4">Welcome, hello world......!!!</h1>
    <h1 class="display-4">Welcome, hello world......!!!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>...</p>
</div>
